.text {
  color: #000;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 20px;
  right: 21px;
  top: 11px;
  bottom: 11px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text2 {
  color: #000;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 20px;
  right: 21px;
  top: 11px;
  bottom: 11px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text3 {
  color: #000;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 20px;
  right: 21px;
  top: 11px;
  bottom: 11px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.root {
  width: 341px;
  height: 56px;
  max-height: 100%;
  place-content: center;
  align-items: center;
  gap: 15px;
}
